.layout {
    background: linear-gradient(to top, #f5f5f5 0%, #9bf6ef 40%, #4ac1f8 150%);
    color: #0c0b0b;
    font-family: 'Times New Roman', sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0c0b0b;
}

a:active,
a:hover,
a:visited,
a:focus {
    color: #a70b59;
    text-decoration: none;
}

.header {
    background: linear-gradient(to top, #00dfdf 20%, #01617e 135%);
    position: relative;
    padding: 1% 2%;
    border-bottom: 6px solid #da275f;
    display: flex;
    flex-direction: row;
}


.header_logo {
    font-family: Georgia;
    justify-self: center;
    font-size: 2.5rem;
    color: #a70b59;
    font-style: italic bold;
    display: inline-block;
    padding-left: 15%;
    
}
.font_bars {
    cursor: pointer;
    color: #a70b59;
    display: inline-block;
    position: absolute;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.review {
    font-family: 'Times New Roman';
    font-size: 1.8rem;
}



.navItem {
    font-weight: 200;
    font-size: 1em;
    color: #ffffff;
    padding: 10px;
    border-top: 1px solid #a70b59;
}

.navItem a {
    color: inherit;
    text-decoration: none;
}

.HomeItem {
    border-bottom: 2px solid #a70b59;
    box-sizing: border-box;
    padding: 10px 20px;
    display: block;
    background: linear-gradient(to top, #f5f5f5 0%, #9bf6ef 40%, #4ac1f8 150%);
}

.Home_header h2 {
    font-size: 20px;
    color: #0e0d0d;
    margin: 4px 0px 0px 0px;
    font-weight: 100;
}

.book_bubles_container {
    box-sizing: border-box;
    justify-items: center;
    padding: 5px;
    align-items: center;
}

.book_bubble {
    background-color: #520f49;
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 3px;
    font-size: 11px;
    margin-right: 5px;
    color: #ffffff;
}

.book_author {
    font-size: 15px;
    color: #ffffff;
    background-color: #a70b59;
    padding: 1%;
}

.rating {
    background-color: #520f49;
    font-size: 15px;
    color: #ffffff;
    padding: 1%;
}

.price {
    background-color: #520f49;
    font-size: 15px;
    color: #ffffff;
    padding: 1%;
}

.pages {
    background-color: #a70b59;
    font-size: 15px;
    color: #ffffff;
    padding: 1%;
}

.LoadMore {
    background: linear-gradient(to bottom, #00dfdf 20%, #01617e 135%);
    text-align: center;
    text-transform: uppercase;
    color: #a70b59;
    padding: 20px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.book_container {
    border-bottom: 4px solid #f1f1f1;
    box-sizing: border-box;
    font-size: 1.5em;
    padding: 10px 20px;
    display: block;
    background-color: #d1cececb;
    color: #0c0b0b;
}

.book_content {
    padding: 2% 5%;
    font-family: Arial, Helvetica;
    font-size: 2.5rem;
    background: linear-gradient(to bottom, #00dfdf 20%, #ffffff 135%);
    color: #0c0b0b;
}

.book_header h2 {
    background-color: #ffffff;
    color: #0c0b0b;
    margin: 4px 0px 0px 0px;
}

.reviewer_div {
    padding: 10px 20px;
    display: block;
}

.form_div {
    box-sizing: border-box;
    padding: 20px;
    display: block;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-left: auto;
}

.form_element {
    box-sizing: border-box;
    border-radius: 2px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button {
    box-sizing: border-box;
    font-family: 'Gill Sans';
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    background: linear-gradient(to bottom, #00dfdf 20%, #01617e 135%);
}

.error_msg {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.User_id_tag {
    text-align: right;
    font-family: fantasy;
    font-size: 14px;
    color: #ffffff;
}

/*=============================
            LOADER
===============================*/
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    margin-bottom: 50px;
}

.loader {
    color: #ca2e20;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    margin-bottom: 50px;
    position: relative;
    width: 9.5em;
    height: 9.5em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before,
.loader:after {
    position: absolute;
    content: '';
}

.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #d3d3d351;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}

.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #d3d3d351;
    border-radius: 0 9.2em 9.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader_div {
    height: 100%;
    width: 100%;
    background: #552ee49b;
}

.User_container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #00dfdf 20%, #5362ec 135%);
    align-items: center;
}

.img_responsive {
    height: 200px;
    width: 200px;
    border-style: double;
    border-radius: 80%;
    align-self: center;
    background-image: url('./img/images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.edit_click {
    color: #ffffff;
}

h3 {
    text-align: center;
    padding: 2% 5%;
}

/* gradient css */

/* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply; */